
.list-1 h2 img{
    margin:  40px auto 24px;
}
.list-1 .text{
    text-align: center;
    
}
.list-1 .text:nth-child(3){
    margin-bottom: 76px;
}
.list-1 .souji{
    background: url(../img/img/1c37e3530ae63a23cc677efc5e0b3a1e_bus_tu6.jpg);
width: 350px;
height: 216px;
overflow: hidden;
position: relative;
margin-bottom: 20px;
}
.list-1 .souji>a>p{height: 70px;
    background-color: rgba(26, 115, 213, 0.8);
    color: white;
    line-height: 70px;
    text-align: center;
    width: 230px;
    margin: 72px auto;


}

.list-1 .souji div{
    width: 100%;
    height:0;
    background-color: rgba(26, 115, 213);
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    overflow: hidden;
    transition: all 0.3s;
    
}
.list-1 .souji div p{
    margin-top: 60px;
    text-align: center;
}
.list-1 .souji:hover div{
    height: 100%;
}
.list-1 .tu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
}
/* 第二部分 */
.bcolor{
    background-color: #ebeff2;
   
}
.list-2{
    overflow: hidden;
}

.list-2 h2{margin-top: 37px;

}
.list-2 h2 img{
    margin:  40px auto 24px;
}
.list-2 .text{
    text-align: center;
    
}
.list-2 .text:nth-child(2){
    margin-bottom: 76px;
}
.list-2 .box{
    margin-bottom: 70px;
}

.list-2 .box li {


position: relative;
margin-left: 1px;
margin-bottom: 1px;
float: left;
}
.list-2 .box li span{
    transition: all 1s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
   }
.list-2 .box li:hover span{
 
    opacity: 1;}

    /* 第三部分 */
    .list-3{
        overflow: hidden;
    }
    
    .list-3 h2{margin-top: 37px;
    
    }
    .list-3 h2 img{
        margin:  40px auto 24px;
    }

    .list-3 .text{
        text-align: center;
        
    }
    .list-3 .text:nth-child(2){
        margin-bottom: 76px;
    }
    .list-3 .box-3 li {
        height: 207px;
        width: 280px;
        margin-bottom: 1px;
        margin-left: 1px;
        background: url(../img/img/5c2449805a30b.jpg);
        background-size: 100%;
        position: relative;
    }
    .list-3 .box-3 li div:nth-child(1){
        height: 100%;
        width: 100%;
        background-color:#1d98de;
        opacity: 0;
        transition: all 0.5s;
        }
    .box-3 li div:nth-child(1) p{
        margin-top: 140px;
        text-align: center;
        color: white;
        float: left;
        width: 100%;
        font-size: 24px;
        
        
    }

    .box-3 li:hover div:nth-child(1) {
        opacity: 1;
    }

 .box-3 li div:nth-child(2){
     position: absolute;
     top:110px;
    left: 280px;

 }