.header-top{
    background-color: black;
    
    color: #b0b0b0;
}
.header-top a{
    color: #b0b0b0;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    height: 40px;
  padding: 0 5px;
  }
.topnav-l a:nth-last-child(2){
    position: relative;
   
}
.header-top a:hover{
    color: white;
}

.topnav-l .download{
    background-color: white;
    width: 142px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);

    position: absolute;
    left: 50%;
   margin-left: -71px;
  top: 40px;
   text-align: center;
    color: black;
    line-height: 30px;
    font-size: 16px;
    z-index: 999;
  /* padding-bottom: 10px; */
  height: 0;
  overflow: hidden;
 transition: all 0.5s;

}
.topnav-l .download::after{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:white;
    left: 50%;
    margin-left: -10px;
    top:-18px;
}
.topnav-l .download img{
    height: 90px;
    width: 90px;
    margin: 18px auto 12px;
}

.topnav-l a:nth-last-child(2):hover .download{
    height: 150px;
    overflow: visible;
    
}
/* 右顶部导航 */
.shopcar{
    position: relative;
    
    z-index: 999;
    background-color:  #5a4545;
}
.topnav-r .shopcar span{ color: #b0b0b0;
    
    position: relative;
    line-height: 40px;
    font-size: 14px;
    display: inline-block;
    height: 41px;
  padding: 0 25px;
  z-index: 999;
    background-color:  #5a4545;
   
    
}
.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
     margin-right: 10px;
   vertical-align: middle;}
   /* 购物车 */
   .subcar{
       position: absolute;
       width: 316px;
       background-color: white;
       top: 40px;
       right: 0;
       height: 0px;
       line-height: 100px;
       color: black;
       text-align: center;
   box-shadow: 0px  0 3px  rgba(0, 0, 0, .3);
   overflow: hidden;
   z-index: 888;
   transition: all 1s;
}
.shopcar:hover span{background-color: white;
    color: orange;

}
.shopcar:hover .subcar{
    height: 100px;
}
/* 头部下面部分 */
.header-bottom{
    height: 55px;
    
    margin-top: 22px;
    position: relative;
}
.header-bottom .logo{width: 55px;
    height: 55px;
    background-color: orange;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
   


}

.header-bottom .logo a:nth-child(2){position: absolute;
    top: 0;
   right: 49px;
   transition: all 1s;

}
.logo:hover a:nth-child(2){right: 0px;}

.logo a img{
    width: 55px;
}
.header-bottom .logo a:nth-child(1){position: absolute;
    top: 0;
   left: 0;
   
   transition: all 1s;

}
.logo:hover a:nth-child(1){left: 49px;}

/* 第二部分导航 */

.header-bottom .nav li{
    float: left;
}
.nav li span {
    padding: 16px 10px 0;
    display: block;
    cursor: pointer;
    font-size: 16px;
   
}
li .subnav{
    position: absolute;
    top: 55px;
    width: 100%;
    left: 0;
    box-shadow:0px 0 2px 0  rgba(0, 0, 0, .3);
   
    height: 0px;
   transition: all 1s;  
   overflow: hidden;
   z-index: 666;
}

li:hover .subnav{
    height: 200px;
}
/* 搜索框 */
.hb-form input {
    height: 54px;
    width: 250px;
    float: left;
    margin-bottom: 38px;
}
@font-face {
    font-family: 'iconfont';
    src: url('../fontfamily/font_1991416_l8di77f2ze/iconfont.eot');
    src: url('../fontfamily/font_1991416_l8di77f2ze/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fontfamily/font_1991416_l8di77f2ze/iconfont.woff2') format('woff2'),
        url('../fontfamily/font_1991416_l8di77f2ze/iconfont.woff') format('woff'),
        url('../fontfamily/font_1991416_l8di77f2ze/iconfont.ttf') format('truetype'),
        url('../fontfamily/font_1991416_l8di77f2ze/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .hb-form button{
      height: 57px;
      width: 55px;
      background-color: white;
      float: left;
      
      border: 1px solid black;
      border-left: 0;
  }
  .hb-form:hover input+button{
      border: 2px solid black;
      border-left: 0;
  }
  .hb-form:hover input{
    border: 2px solid black;
  }
  .hb-form:hover button:hover{
      background-color: orange;
      color: white;
  }
  /* banner */
  .banner{
      position: relative;
  }
  .banner>img{height: 460px;
    width: 1226px;

  }
  .banner .menu{
      background-color: rgba(0, 0, 0, .3);
      width: 234px;
      height: 460px;
      position: absolute;
      top:40px;
      left: 0;
      padding: 20px 0;
      box-sizing: border-box;
  }
  
  .banner .menu-ul>li>a:hover{background-color: orangered;

  }
  
  .banner .menu-ul>li em{
float: right;
margin-right: 10px;
font-size: 10px;

  }
  .banner .menu-ul>li>a{
      display: block;
      height: 42px;
      line-height: 42px;
      color: #ffffff;
      font-size: 16px;
     padding-left: 15px;
  }
  .menu .submenu{
      position: absolute;
     left: 234px;
     top: 0;
     height: 460px;
     background-color: #ffffff;
     
  }